<title><%= page.title %></title>

<meta name="description" content="<%= page.description %>">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/themes/ramsay/public/favicon.ico"/>

<link rel="stylesheet" href="/themes/ramsay/public/css/all.css">

<%- page.codes.head %>