<title><%- page.title %></title>

<meta name="description" content="<%- page.description %>">

<link rel="shortcut icon" href="/themes/ramsay/public/favicon.ico"/>

<link rel="stylesheet" href="/themes/ramsay/public/css/all.css">

<%- page.codes.head %>